<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>渡一API开放平台</title>
    <link rel='stylesheet' type='text/css'>
##        <meta name="msapplication-TileColor" content="#3399cc" />
    <script src="/management/assets/js/echarts.common.min.js"></script>
    <style>
        .day_chart {
            margin-top: 15px;
            width: 100%;
            height: 450px;
        }

        .main_part {
            width: 90%;
            height: 400px;
            border-right: 2px dotted gray;
        }

        .main_part > div {
            display: block;
            position: relative;
            height: 50px;
            width: 100%;
        }

        .main_part > div > span {
            height: 100%;
            width: 100%;
            line-height: 50px;
            padding-left: 20px;
            font-size: 16px;
        }
    </style>
    <script>
        var myChart = null;
        var option = null;
        window.onload = function () {
            $.ajax({
                type: "GET",
                url: "/management/getDayCount",
                success: function (res) {
                    var data = JSON.parse(res);
                    var arr1 = [];
                    var arr2 = [];
                    var maxValue = 0;
                    for (var i = 0; i < data.data.length; i++) {
                        arr1.push(data.data[i].sum);
                        arr2.push(data.data[i].date);
                        if (data.data[i].sum > maxValue) {
                            maxValue = data.data[i].sum;
                        }
                    }
                    myChart = echarts.init(document.getElementById("day_chart"));
                    option = {
                        title: {
                            text: '数据统计',
                            subtext: ''
                        },
                        tooltip: {
                            trigger: 'axis',
                            axisPointer: {
                                type: 'cross',
                                label: {
                                    backgroundColor: '#283b56'
                                }
                            }
                        },
                        legend: {
                            data: ['访问次数趋势', '访问次数']
                        },
                        toolbox: {
                            show: true,
                            feature: {
                                dataView: {readOnly: false},
                                restore: {},
                                saveAsImage: {}
                            }
                        },
                        dataZoom: {
                            show: false,
                            start: 0,
                            end: 100
                        },
                        xAxis: [
                            {
                                type: 'category',
                                boundaryGap: true,
                                data: (function () {
                                    var now = new Date();
                                    var res = arr2;
                                    var len = 7;
                                    return res;
                                })()
                            },
                            {
                                type: 'category',
                                boundaryGap: true,
                                data: (function () {
                                    var res = arr2;
                                    var len = 7;
                                    return res;
                                })()
                            }
                        ],
                        yAxis: [
                            {
                                type: 'value',
                                scale: true,
                                name: '访问次数趋势',
                                max: maxValue,
                                min: 0,
                                boundaryGap: [0.2, 0.2]
                            },
                            {
                                type: 'value',
                                scale: true,
                                name: '访问次数',
                                max: maxValue,
                                min: 0,
                                boundaryGap: [0.2, 0.2]
                            }
                        ],
                        series: [
                            {
                                name: '访问次数',
                                type: 'bar',
                                xAxisIndex: 1,
                                yAxisIndex: 1,
                                data: (function () {
                                    var res = arr1;
                                    var len = 7;
                                    return res;
                                })()
                            },
                            {
                                name: '访问次数趋势',
                                type: 'line',
                                data: (function () {
                                    var res = arr1;
                                    var len = 0;
                                    return res;
                                })()
                            }
                        ]
                    };
                    myChart.setOption(option);
                }
            });
        }

        function userAcctive(account, email) {

            $.ajax({
                type: "GET",
                url: "/sendEmail?account=" + account + "&email=" + email,
                success: function (res) {
                    alert("请前往邮箱激活");
                }
            });
        }


    </script>
</head>
<body>
<!-- Start #header -->
    #parse("header.vm")
<!-- End #header -->
<!-- Start #sidebar -->
    #parse("menu.vm")
<!-- End #sidebar -->
<!-- Start #right-sidebar -->
##        <div id="right-sidebar" class="hide-sidebar">
##            <!-- Start .sidebar-inner -->
##            <div class="sidebar-inner">
##                <div class="sidebar-panel mt0">
##                    <div class="sidebar-panel-content fullwidth pt0">
##                        <div class="chat-user-list">
##                            <form class="form-horizontal chat-search" role="form">
##                                <div class="form-group">
##                                    <input type="text" class="form-control" placeholder="Search for user...">
##                                    <button type="submit"><i class="ec-search s16"></i>
##                                    </button>
##                                </div>
##                                <!-- End .form-group  -->
##                            </form>
##                            <ul class="chat-ui bsAccordion">
##                                <li>
##                                    <a href="#">Favorites <span class="notification teal">4</span><i class="en-arrow-down5"></i></a>
##                                    <ul class="in">
##                                        <li>
##                                            <a href="#" class="chat-name">
##                                                <img class="chat-avatar" src="assets/img/avatars/49.jpg" alt="@chadengle">Chad Engle
##                                                <span class="has-message"><i class="im-pencil"></i></span>
##                                            </a>
##                                            <span class="status online"><i class="en-dot"></i></span>
##                                        </li>
##                                        <li>
##                                            <a href="#" class="chat-name">
##                                                <img class="chat-avatar" src="assets/img/avatars/54.jpg" alt="@alagoon">Anthony Lagoon</a>
##                                            <span class="status offline"><i class="en-dot"></i></span>
##                                        </li>
##                                        <li>
##                                            <a href="#" class="chat-name">
##                                                <img class="chat-avatar" src="assets/img/avatars/52.jpg" alt="@koridhandy">Kory Handy</a>
##                                            <span class="status"><i class="en-dot"></i></span>
##                                        </li>
##                                        <li>
##                                            <a href="#" class="chat-name">
##                                                <img class="chat-avatar" src="assets/img/avatars/50.jpg" alt="@divya">Divia Manyan</a>
##                                            <span class="status"><i class="en-dot"></i></span>
##                                        </li>
##                                    </ul>
##                                </li>
##                                <li>
##                                    <a href="#">Online <span class="notification green">3</span><i class="en-arrow-down5"></i></a>
##                                    <ul class="in">
##                                        <li>
##                                            <a href="#" class="chat-name">
##                                                <img class="chat-avatar" src="assets/img/avatars/51.jpg" alt="@kolage">Eric Hofman</a>
##                                            <span class="status online"><i class="en-dot"></i></span>
##                                        </li>
##                                        <li>
##                                            <a href="#" class="chat-name">
##                                                <img class="chat-avatar" src="assets/img/avatars/55.jpg" alt="@mikebeecham">Mike Beecham</a>
##                                            <span class="status online"><i class="en-dot"></i></span>
##                                        </li>
##                                        <li>
##                                            <a href="#" class="chat-name">
##                                                <img class="chat-avatar" src="assets/img/avatars/53.jpg" alt="@derekebradley">Darek Bradly</a>
##                                            <span class="status online"><i class="en-dot"></i></span>
##                                        </li>
##                                    </ul>
##                                </li>
##                                <li>
##                                    <a href="#">Offline <span class="notification red">5</span><i class="en-arrow-down5"></i></a>
##                                    <ul>
##                                        <li>
##                                            <a href="#" class="chat-name">
##                                                <img class="chat-avatar" src="assets/img/avatars/56.jpg" alt="@laurengray">Lauren Grey</a>
##                                            <span class="status offline"><i class="en-dot"></i></span>
##                                        </li>
##                                        <li>
##                                            <a href="#" class="chat-name">
##                                                <img class="chat-avatar" src="assets/img/avatars/49.jpg" alt="@chadengle">Chad Engle</a>
##                                            <span class="status offline"><i class="en-dot"></i></span>
##                                        </li>
##                                        <li>
##                                            <a href="#" class="chat-name">
##                                                <img class="chat-avatar" src="assets/img/avatars/58.jpg" alt="@frankiefreesbie">Frankie Freesibie</a>
##                                            <span class="status offline"><i class="en-dot"></i></span>
##                                        </li>
##                                        <li>
##                                            <a href="#" class="chat-name">
##                                                <img class="chat-avatar" src="assets/img/avatars/57.jpg" alt="@joannefournier">Joane Fornier</a>
##                                            <span class="status offline"><i class="en-dot"></i></span>
##                                        </li>
##                                        <li>
##                                            <a href="#" class="chat-name">
##                                                <img class="chat-avatar" src="assets/img/avatars/59.jpg" alt="@aiiaiiaii">Alia Alien</a>
##                                            <span class="status offline"><i class="en-dot"></i></span>
##                                        </li>
##                                    </ul>
##                                </li>
##                            </ul>
##                        </div>
##                        <div class="chat-box">
##                            <h5>Chad Engle</h5>
##                            <a id="close-user-chat" href="#" class="btn btn-xs btn-primary"><i class="en-arrow-left4"></i></a>
##                            <ul class="chat-ui chat-messages">
##                                <li class="chat-user">
##                                    <p class="avatar">
##                                        <img src="assets/img/avatars/49.jpg" alt="@chadengle">
##                                    </p>
##                                    <p class="chat-name">Chad Engle <span class="chat-time">15 seconds ago</span>
##                                    </p>
##                                    <span class="status online"><i class="en-dot"></i></span>
##                                    <p class="chat-txt">Hello Sugge check out the last order.</p>
##                                </li>
##                                <li class="chat-me">
##                                    <p class="avatar">
##                                        <img src="assets/img/avatars/48.jpg" alt="SuggeElson">
##                                    </p>
##                                    <p class="chat-name">SuggeElson <span class="chat-time">10 seconds ago</span>
##                                    </p>
##                                    <span class="status online"><i class="en-dot"></i></span>
##                                    <p class="chat-txt">Ok i will check it out.</p>
##                                </li>
##                                <li class="chat-user">
##                                    <p class="avatar">
##                                        <img src="assets/img/avatars/49.jpg" alt="@chadengle">
##                                    </p>
##                                    <p class="chat-name">Chad Engle <span class="chat-time">now</span>
##                                    </p>
##                                    <span class="status online"><i class="en-dot"></i></span>
##                                    <p class="chat-txt">Thank you, have a nice day</p>
##                                </li>
##                            </ul>
##                            <div class="chat-write">
##                                <form action="#" class="form-horizontal" role="form">
##                                    <div class="form-group">
##                                        <textarea name="sendmsg" id="sendMsg" class="form-control elastic" rows="1"></textarea>
##                                        <a role="button" class="btn" id="attach_photo_btn">
##                                            <i class="fa-picture s20"></i>
##                                        </a>
##                                        <input type="file" name="attach_photo" id="attach_photo">
##                                    </div>
##                                    <!-- End .form-group  -->
##                                </form>
##                            </div>
##                        </div>
##                    </div>
##                </div>
##            </div>
##            <!-- End .sidebar-inner -->
##        </div>
<!-- End #right-sidebar -->
<!-- Start #content -->
<div id="content">
    <!-- Start .content-wrapper -->
    <div class="content-wrapper">
        <div class="row">
            <!-- Start .row -->
            <!-- Start .page-header -->
            <div class="col-lg-12 heading">
                <h1 class="page-header"><i class="im-screen"></i> 主面板</h1>
                <!-- Start .bredcrumb -->
            ##                        <ul id="crumb" class="breadcrumb"></ul>
                <!-- End .breadcrumb -->
                <!-- Start .option-buttons -->
            ##                        <div class="option-buttons">
            ##                            <div class="btn-toolbar" role="toolbar">
            ##                                <div class="btn-group">
            ##                                    <a id="clear-localstorage" class="btn tip" title="Reset panels position">
            ##                                        <i class="ec-refresh color-red s24"></i>
            ##                                    </a>
            ##                                </div>
            ##                                <div class="btn-group dropdown">
            ##                                    <a class="btn dropdown-toggle" data-toggle="dropdown" id="dropdownMenu1"><i class="br-grid s24"></i></a>
            ##                                    <div class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu1">
            ##                                        <div class="option-dropdown">
            ##                                            <div class="shortcut-button">
            ##                                                <a href="#">
            ##                                                    <i class="im-pie"></i>
            ##                                                    <span>Earning Stats</span>
            ##                                                </a>
            ##                                            </div>
            ##                                            <div class="shortcut-button">
            ##                                                <a href="#">
            ##                                                    <i class="ec-images color-dark"></i>
            ##                                                    <span>Gallery</span>
            ##                                                </a>
            ##                                            </div>
            ##                                            <div class="shortcut-button">
            ##                                                <a href="#">
            ##                                                    <i class="en-light-bulb color-orange"></i>
            ##                                                    <span>Fresh ideas</span>
            ##                                                </a>
            ##                                            </div>
            ##                                            <div class="shortcut-button">
            ##                                                <a href="#">
            ##                                                    <i class="ec-link color-blue"></i>
            ##                                                    <span>Links</span>
            ##                                                </a>
            ##                                            </div>
            ##                                            <div class="shortcut-button">
            ##                                                <a href="#">
            ##                                                    <i class="ec-support color-red"></i>
            ##                                                    <span>Support</span>
            ##                                                </a>
            ##                                            </div>
            ##                                            <div class="shortcut-button">
            ##                                                <a href="#">
            ##                                                    <i class="st-lock color-teal"></i>
            ##                                                    <span>Lock area</span>
            ##                                                </a>
            ##                                            </div>
            ##                                        </div>
            ##                                    </div>
            ##                                </div>
            ##                                <div class="btn-group dropdown">
            ##                                    <a class="btn dropdown-toggle" data-toggle="dropdown" id="dropdownMenu2"><i class="ec-pencil s24"></i></a>
            ##                                    <div class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu2">
            ##                                        <div class="option-dropdown">
            ##                                            <div class="row">
            ##                                                <p class="col-lg-12">Quick post</p>
            ##                                                <form class="form-horizontal" role="form">
            ##                                                    <div class="form-group">
            ##                                                        <div class="col-lg-12">
            ##                                                            <input type="text" class="form-control" placeholder="Enter title">
            ##                                                        </div>
            ##                                                    </div>
            ##                                                    <!-- End .form-group  -->
            ##                                                    <div class="form-group">
            ##                                                        <div class="col-lg-12">
            ##                                                            <textarea class="form-control wysiwyg" placeholder="Enter text"></textarea>
            ##                                                        </div>
            ##                                                    </div>
            ##                                                    <!-- End .form-group  -->
            ##                                                    <div class="form-group">
            ##                                                        <div class="col-lg-12">
            ##                                                            <input type="text" class="form-control tags1" placeholder="Enter tags">
            ##                                                        </div>
            ##                                                    </div>
            ##                                                    <!-- End .form-group  -->
            ##                                                    <div class="form-group">
            ##                                                        <div class="col-lg-12">
            ##                                                            <button class="btn btn-default btn-xs">Save Draft</button>
            ##                                                            <button class="btn btn-success btn-xs pull-right">Publish</button>
            ##                                                        </div>
            ##                                                    </div>
            ##                                                    <!-- End .form-group  -->
            ##                                                </form>
            ##                                            </div>
            ##                                        </div>
            ##                                    </div>
            ##                                </div>
            ##                                <div class="btn-group">
            ##                                    <a class="btn dropdown-toggle" data-toggle="dropdown" id="dropdownMenu3"><i class="ec-help s24"></i></a>
            ##                                    <div class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu3">
            ##                                        <div class="option-dropdown">
            ##                                            <p>First time visitor ? <a href="#" id="app-tour" class="btn btn-success ml15">Take app tour</a>
            ##                                            </p>
            ##                                            <hr>
            ##                                            <p>Or check the <a href="#" class="btn btn-danger ml15">FAQ</a>
            ##                                            </p>
            ##                                        </div>
            ##                                    </div>
            ##                                </div>
            ##                            </div>
            ##                        </div>
                <!-- End .option-buttons -->
            </div>
            <!-- End .page-header -->
        </div>
        <!-- End .row -->
        <div class="outlet">
            <!-- Start .outlet -->
            <!-- Page start here ( usual with .row ) -->
            <div class="row">
                <!-- Start .row -->
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="carousel-tile carousel vertical slide">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="tile red">
                                    <div class="tile-icon">
                                        <i class="im-pencil s64"></i>
                                    </div>
                                    <div class="tile-content">
                                        <div class="number">${sum1}</div>
                                        <h3>今日使用次数</h3>
                                    </div>
                                </div>
                            </div>
                        ##                                    <div class="item">
                        ##                                        <div class="tile orange">
                        ##                                            <!-- tile start here -->
                        ##                                            <div class="tile-icon">
                        ##                                                <i class="ec-cog s64"></i>
                        ##                                            </div>
                        ##                                            <div class="tile-content">
                        ##                                                <div class="number">5</div>
                        ##                                                <h3>Settings changed</h3>
                        ##                                            </div>
                        ##                                        </div>
                        ##                                    </div>
                        </div>
                    </div>
                    <!-- End Carousel -->
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="carousel-tile carousel slide">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="tile blue">
                                    <div class="tile-icon">
                                        <i class="im-clock s64"></i>
                                    </div>
                                    <div class="tile-content">
                                        <div class="number">${sum3}</div>
                                        <h3>近三日使用次数</h3>
                                    </div>
                                </div>
                            </div>
                        ##                                    <div class="item">
                        ##                                        <div class="tile brown">
                        ##                                            <!-- tile start here -->
                        ##                                            <div class="tile-icon">
                        ##                                                <i class="ec-mail s64"></i>
                        ##                                            </div>
                        ##                                            <div class="tile-content">
                        ##                                                <div class="number">17</div>
                        ##                                                <h3>New emails</h3>
                        ##                                            </div>
                        ##                                        </div>
                        ##                                    </div>
                        </div>
                    </div>
                    <!-- End Carousel -->
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="carousel-tile carousel vertical slide">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="tile green">
                                    <div class="tile-icon">
                                        <i class="im-quill s64"></i>
                                    </div>
                                    <div class="tile-content">
                                        <div class="number">${sum7}</div>
                                        <h3>近七日使用次数</h3>
                                    </div>
                                </div>
                            </div>
                        ##                                    <div class="item">
                        ##                                        <div class="tile purple">
                        ##                                            <!-- tile start here -->
                        ##                                            <div class="tile-icon">
                        ##                                                <i class="ec-search s64"></i>
                        ##                                            </div>
                        ##                                            <div class="tile-content">
                        ##                                                <div class="number">2540</div>
                        ##                                                <h3>Searches</h3>
                        ##                                            </div>
                        ##                                        </div>
                        ##                                    </div>
                        </div>
                    </div>
                    <!-- End Carousel -->
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="carousel-tile carousel slide">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="tile teal">
                                    <!-- tile start here -->
                                    <div class="tile-icon">
                                        <i class="im-star3 s64"></i>
                                    </div>
                                    <div class="tile-content">
                                        <div class="number">${sumTotal}</div>
                                        <h3>总使用次数</h3>
                                    </div>
                                </div>
                            </div>
                        ##                                    <div class="item">
                        ##                                        <div class="tile magenta">
                        ##                                            <!-- tile start here -->
                        ##                                            <div class="tile-icon">
                        ##                                                <i class="ec-share s64"></i>
                        ##                                            </div>
                        ##                                            <div class="tile-content">
                        ##                                                <div class="number">3548</div>
                        ##                                                <h3>Posts shared</h3>
                        ##                                            </div>
                        ##                                        </div>
                        ##                                    </div>
                        </div>
                    </div>
                    <!-- End Carousel -->
                </div>
            </div>
            <!-- End .row -->
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="main_part">
                        <h2>个人信息：</h2>
                        <div>
                            <span>帐号：</span>
                            <span>${user.getAccount()}</span>
                        </div>
                        <div>
                            <span>密码：</span>
                            <span>********</span>
                        </div>
                        <div>
                            <span>邮箱：</span>
                            <span>${user.getEmail()}</span>
                        </div>
                        <div>
                            <span>是否激活：</span>
                            #if(${user.getStatus()} == 1)
                                <span style="color: green">已激活</span>
                            #else
                                <span style="color: red">未激活</span>
                                <a href="#" onclick="userAcctive('${user.getAccount()}','${user.getEmail()}')">点此激活</a>
                            #end
                        </div>
                        <div>
                            <span>您的appkey：</span>
                            <span>${user.getAppkey()}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                    <div id="day_chart" class="day_chart"></div>
                </div>

            </div>
        ##                    <div class="row">
        ##                        <!-- Start .row -->
        ##                        <div class="col-lg-6 col-md-6 sortable-layout">
        ##                            <!-- Start col-lg-6 -->
        ##                            <div class="panel panel-teal toggle panelMove panelClose panelRefresh">
        ##                                <!-- Start .panel -->
        ##                                <div class="panel-heading">
        ##                                    <h4 class="panel-title"><i class="im-bars"></i> Page views</h4>
        ##                                </div>
        ##                                <div class="panel-body">
        ##                                    <div id="stats-pageviews" style="width: 100%; height:250px;"></div>
        ##                                </div>
        ##                                <div class="panel-footer teal-bg">
        ##                                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        ##                                        <div class="tile teal m0">
        ##                                            <div class="tile-content text-center pl0 pr0">
        ##                                                <div id="countToday" class="number">75</div>
        ##                                                <h3>Today</h3>
        ##                                            </div>
        ##                                        </div>
        ##                                    </div>
        ##                                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        ##                                        <div class="tile teal m0">
        ##                                            <div class="tile-content text-center pl0 pr0">
        ##                                                <div id="countYesterday" class="number">69</div>
        ##                                                <h3>Yesterday</h3>
        ##                                            </div>
        ##                                        </div>
        ##                                    </div>
        ##                                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        ##                                        <div class="tile teal m0">
        ##                                            <div class="tile-content text-center pl0 pr0">
        ##                                                <div id="countWeek" class="number">380</div>
        ##                                                <h3>This Week</h3>
        ##                                            </div>
        ##                                        </div>
        ##                                    </div>
        ##                                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        ##                                        <div class="tile teal m0">
        ##                                            <div class="tile-content text-center pl0 pr0">
        ##                                                <div id="countTotal" class="number">1254</div>
        ##                                                <h3>Total</h3>
        ##                                            </div>
        ##                                        </div>
        ##                                    </div>
        ##                                </div>
        ##                            </div>
        ##                            <!-- End .panel -->
        ##                            <div class="panel panel-brown panelMove">
        ##                                <!-- Start .panel -->
        ##                                <div class="panel-heading">
        ##                                    <h4 class="panel-title"><i class="st-camera"></i> Instagram activity</h4>
        ##                                    <div class="pull-right mt10">
        ##                                        <a href="#" class="color-grayspr">@SuggeElson</a>
        ##                                    </div>
        ##                                </div>
        ##                                <div class="panel-body p0">
        ##                                    <div class="instagram-widget">
        ##                                        <div class="instagram-widget-header gray-bg">
        ##                                            <div class="col-lg-4 col-md-4 col-xs-4 text-center">
        ##                                                <!-- col-lg-4 start here -->
        ##                                                <a href="#">
        ##                                                    <p class="instagram-widget-text">Followers</p>
        ##                                                    <strong class="instagram-widget-number">1256</strong>
        ##                                                </a>
        ##                                            </div>
        ##                                            <!-- col-lg-4 end here -->
        ##                                            <div class="col-lg-4 col-md-4 col-xs-4 text-center">
        ##                                                <!-- col-lg-4 start here -->
        ##                                                <a href="#">
        ##                                                    <p class="instagram-widget-text">Following</p>
        ##                                                    <strong class="instagram-widget-number">345</strong>
        ##                                                </a>
        ##                                            </div>
        ##                                            <!-- col-lg-4 end here -->
        ##                                            <div class="col-lg-4 col-md-4 col-xs-4 text-center">
        ##                                                <!-- col-lg-4 start here -->
        ##                                                <a href="#">
        ##                                                    <p class="instagram-widget-text">Shots</p>
        ##                                                    <strong class="instagram-widget-number">176</strong>
        ##                                                </a>
        ##                                            </div>
        ##                                            <!-- col-lg-4 end here -->
        ##                                        </div>
        ##                                        <div class="instagram-widget-image">
        ##                                            <div id="instagram-widget" class="carousel slide">
        ##                                                <!-- Indicators -->
        ##                                                <ol class="carousel-indicators dotstyle">
        ##                                                    <li data-target="#instagram-widget" data-slide-to="0" class="active"><a href="#">Image 1</a>
        ##                                                    </li>
        ##                                                    <li data-target="#instagram-widget" data-slide-to="1"><a href="#">Image 2</a>
        ##                                                    </li>
        ##                                                    <li data-target="#instagram-widget" data-slide-to="2"><a href="#">Image 3</a>
        ##                                                    </li>
        ##                                                </ol>
        ##                                                <div class="carousel-inner">
        ##                                                    <figure class="item active">
        ##                                                        <img class="img-responsive" src="assets/img/instagram/instagram.jpg" alt="image">
        ##                                                    </figure>
        ##                                                    <figure class="item">
        ##                                                        <img class="img-responsive" src="assets/img/instagram/instagram2.jpg" alt="image">
        ##                                                    </figure>
        ##                                                    <figure class="item">
        ##                                                        <img class="img-responsive" src="assets/img/instagram/instagram3.jpg" alt="image">
        ##                                                    </figure>
        ##                                                </div>
        ##                                            </div>
        ##                                            <!-- End Carousel -->
        ##                                        </div>
        ##                                        <div class="instagram-widget-footer">
        ##                                            <div class="col-lg-6 col-md-6 col-xs-6 text-center">
        ##                                                <!-- col-lg-6 start here -->
        ##                                                <p>
        ##                                                    <a href="#">
        ##                                                        <i class="ec-chat mr5"></i>
        ##                                                        <strong class="instagram-widget-number">17</strong>
        ##                                                    </a>
        ##                                                </p>
        ##                                            </div>
        ##                                            <!-- col-lg-6 end here -->
        ##                                            <div class="col-lg-6 col-md-6 col-xs-6 text-center">
        ##                                                <!-- col-lg-6 start here -->
        ##                                                <p>
        ##                                                    <a href="#">
        ##                                                        <i class="ec-heart mr5"></i>
        ##                                                        <strong class="instagram-widget-number">27</strong>
        ##                                                    </a>
        ##                                                </p>
        ##                                            </div>
        ##                                            <!-- col-lg-6 end here -->
        ##                                        </div>
        ##                                    </div>
        ##                                </div>
        ##                            </div>
        ##                            <!-- End .panel -->
        ##                            <div class="panel panel-default panelMove plain">
        ##                                <!-- Start .panel -->
        ##                                <div class="panel-heading white-bg"></div>
        ##                                <div class="panel-body p0">
        ##                                    <div id="calendar"></div>
        ##                                </div>
        ##                            </div>
        ##                            <!-- End .panel -->
        ##                        </div>
        ##                        <!-- End col-lg-6 -->
        ##                        <div class="col-lg-6 col-md-6 sortable-layout">
        ##                            <!-- Start col-lg-6 -->
        ##                            <div class="panel panel-primary plain toggle panelMove panelClose panelRefresh">
        ##                                <!-- Start .panel -->
        ##                                <div class="panel-heading">
        ##                                    <h4 class="panel-title"><i class="im-bars"></i> Week Earnings</h4>
        ##                                </div>
        ##                                <div class="panel-body blue-bg">
        ##                                    <div id="stats-earnings" style="width: 100%; height:250px;"></div>
        ##                                </div>
        ##                                <div class="panel-footer white-bg">
        ##                                    <div id="stats-category-earnings" class="col-lg-6 col-md-12" style="height:150px;">
        ##                                    </div>
        ##                                    <div id="stats-earnings-bars" class="col-lg-6 col-md-12" style="height:150px;">
        ##                                    </div>
        ##                                </div>
        ##                            </div>
        ##                            <!-- End .panel -->
        ##                            <div class="weather-widget panel panel-primary plain toggle panelMove panelClose panelRefresh">
        ##                                <!-- Start .panel -->
        ##                                <div class="panel-heading">
        ##                                    <h4 class="panel-title">Weather now</h4>
        ##                                </div>
        ##                                <div class="panel-body blue-bg text-center">
        ##                                    <canvas id="weather-now" width="128" height="128"></canvas>
        ##                                    <p class="weather-location"><strong>23&deg;C</strong> Madrid</p>
        ##                                </div>
        ##                                <div class="panel-footer white-bg text-center">
        ##                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        ##                                        <!-- col-lg-3 start here -->
        ##                                        <p class="weather-day">MON</p>
        ##                                        <canvas id="forecast-now" width="64" height="64"></canvas>
        ##                                        <p class="weather-degree">23&deg;C</p>
        ##                                    </div>
        ##                                    <!-- col-lg-3 end here -->
        ##                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        ##                                        <!-- col-lg-3 start here -->
        ##                                        <p class="weather-day">TUE</p>
        ##                                        <canvas id="forecast-day1" width="64" height="64"></canvas>
        ##                                        <p class="weather-degree">17&deg;C</p>
        ##                                    </div>
        ##                                    <!-- col-lg-3 end here -->
        ##                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        ##                                        <!-- col-lg-3 start here -->
        ##                                        <p class="weather-day">WED</p>
        ##                                        <canvas id="forecast-day2" width="64" height="64"></canvas>
        ##                                        <p class="weather-degree">15&deg;C</p>
        ##                                    </div>
        ##                                    <!-- col-lg-3 end here -->
        ##                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        ##                                        <!-- col-lg-3 start here -->
        ##                                        <p class="weather-day">THU</p>
        ##                                        <canvas id="forecast-day3" width="64" height="64"></canvas>
        ##                                        <p class="weather-degree">18&deg;C</p>
        ##                                    </div>
        ##                                    <!-- col-lg-3 end here -->
        ##                                </div>
        ##                            </div>
        ##                            <!-- End .panel -->
        ####                            <div class="panel panel-default toggle panelMove panelClose panelRefresh">
        ####                                <!-- Start .panel -->
        ####                                <div class="panel-heading">
        ####                                    <h4 class="panel-title"><i class="fa-list"></i> ToDo</h4>
        ####                                </div>
        ####                                <div class="panel-body">
        ####                                    <div class="todo-widget">
        ####                                        <div class="todo-header">
        ####                                            <div class="todo-search">
        ####                                                <form>
        ####                                                    <input type="text" class="form-control" name="search" placeholder="Search for todo ...">
        ####                                                </form>
        ####                                            </div>
        ####                                            <div class="todo-add">
        ####                                                <a href="#" class="btn btn-primary tip" title="Add new todo"><i class="im-plus"></i></a>
        ####                                            </div>
        ####                                        </div>
        ####                                        <h4 class="todo-period">Today</h4>
        ####                                        <ul class="todo-list" id="today">
        ####                                            <li class="todo-task-item">
        ####                                                <label class="checkbox">
        ####                                                    <input type="checkbox">
        ####                                                </label>
        ####                                                <div class="todo-priority normal tip" title="Normal priority">
        ####                                                    <i class="im-radio-checked"></i>
        ####                                                </div>
        ####                                                <span class="todo-category label label-primary"> javascript </span>
        ####                                                <div class="todo-task-text">Add scroll function to template</div>
        ####                                                <button type="button" class="close todo-close">&times;</button>
        ####                                            </li>
        ####                                            <li class="todo-task-item">
        ####                                                <label class="checkbox">
        ####                                                    <input type="checkbox">
        ####                                                </label>
        ####                                                <div class="todo-priority high tip" title="High priority">
        ####                                                    <i class="im-radio-checked"></i>
        ####                                                </div>
        ####                                                <span class="todo-category label label-brown"> less </span>
        ####                                                <div class="todo-task-text">Fix main less file</div>
        ####                                                <button type="button" class="close todo-close">&times;</button>
        ####                                            </li>
        ####                                            <li class="todo-task-item task-done">
        ####                                                <label class="checkbox">
        ####                                                    <input type="checkbox" checked>
        ####                                                </label>
        ####                                                <div class="todo-priority high tip" title="High priority">
        ####                                                    <i class="im-radio-checked"></i>
        ####                                                </div>
        ####                                                <span class="todo-category label label-info"> html </span>
        ####                                                <div class="todo-task-text">Change navigation structure</div>
        ####                                                <button type="button" class="close todo-close">&times;</button>
        ####                                            </li>
        ####                                        </ul>
        ####                                        <h4 class="todo-period">Tomorrow</h4>
        ####                                        <ul class="todo-list" id="tomorrow">
        ####                                            <li class="todo-task-item">
        ####                                                <label class="checkbox">
        ####                                                    <input type="checkbox">
        ####                                                </label>
        ####                                                <div class="todo-priority tip" title="Low priority">
        ####                                                    <i class="im-radio-checked"></i>
        ####                                                </div>
        ####                                                <span class="todo-category label label-dark"> css </span>
        ####                                                <div class="todo-task-text">Create slide panel widget</div>
        ####                                                <button type="button" class="close todo-close">&times;</button>
        ####                                            </li>
        ####                                            <li class="todo-task-item">
        ####                                                <label class="checkbox">
        ####                                                    <input type="checkbox">
        ####                                                </label>
        ####                                                <div class="todo-priority medium tip" title="Medium priority">
        ####                                                    <i class="im-radio-checked"></i>
        ####                                                </div>
        ####                                                <span class="todo-category label label-danger"> php </span>
        ####                                                <div class="todo-task-text">Edit the main controller</div>
        ####                                                <button type="button" class="close todo-close">&times;</button>
        ####                                            </li>
        ####                                        </ul>
        ####                                    </div>
        ####                                </div>
        ####                            </div>
        ##                            <!-- End .panel -->
        ##                        </div>
        ##                        <!-- End col-lg-6 -->
        ##                    </div>
            <!-- End .row -->
            <!-- Page End here -->
        </div>
        <!-- End .outlet -->
    </div>
    <!-- End .content-wrapper -->
    <div class="clearfix"></div>
</div>
<!-- End #content -->
<!-- Javascripts -->
<!-- Load pace first -->
    #parse("head.vm")
</body>
</html>