<?xml version="1.0" encoding="UTF-8" ?>
<!--美团用户mapper-->

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duyi.meituan.dao.SbuscriberDao">

    <insert id="add" parameterType="com.duyi.meituan.domain.Sbuscriber">

        insert into student.m_user_inf(account,name,password,email,phone,born,ctime,utime)
        values(#{account},#{name},#{password},#{email},#{phone},#{born},now(),now());

    </insert>


    <update id="update" parameterType="com.duyi.students.domain.Admin"  >

        update admin_inf set status = #{status} where account = #{account};

    </update>

    <update id="updatePassword" parameterType="com.duyi.students.domain.Admin"  >

        update admin_inf set password = #{password} where account = #{account};

    </update>

    <select id="findAll" resultType="com.duyi.students.domain.Admin">

        select * from admin_inf;

    </select>

    <select id="findByAccount" parameterType="String" resultType="com.duyi.students.domain.Admin">

       select * from admin_inf where account = #{account};

    </select>

    <select id="findByEmail" parameterType="String" resultType="com.duyi.students.domain.Admin">

       select * from admin_inf where email = #{email};

    </select>

</mapper>