<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.duyi.students.dao.StudentDao">

    <insert id="add" parameterType="com.duyi.students.domain.Student">

        insert into stu_student(sno, name, email,sex,birth,phone,address,appkey,ctime,utime)values (#{sNo},#{name},#{email},#{sex},#{birth},#{phone},#{address},#{appkey},#{ctime},#{utime})

    </insert>

    <update id="update" parameterType="com.duyi.students.domain.Student"  >

        update stu_student set email = #{email}, name = #{name}, sex = #{sex}, birth = #{birth}, phone = #{phone}, address = #{address}, utime = #{utime} where sno = #{sNo};

    </update>

    <delete id="del" parameterType="String">

        delete from stu_student where sno = #{sNo};

    </delete>

    <select id="findByAll" parameterType="String" resultType="com.duyi.students.domain.Student">

       select * from stu_student where appkey = #{appkey};

    </select>

    <select id="findByPage" resultType="com.duyi.students.domain.Student">

        select * from stu_student where appkey = #{appkey} limit #{offset},#{size};

    </select>

    <select id="findBySno" resultType="com.duyi.students.domain.Student">

        select * from stu_student where sNo = #{sNo};

    </select>

    <select id="getPageSum" parameterType="String" resultType="integer">

        select count(1) from stu_student where appkey = #{appkey};

    </select>
</mapper>